<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] RedeWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaRedeWork.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3 shadow-sm">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="position: absolute; left: 15px; top: 10px;">
                    <img src="/content/img/LogoRedeWork2.png" alt="RedeWork" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ComoFunciona">Como Funciona</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a></li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" style="position: absolute; right: 15px; top: 10px;">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Login</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Login" asp-action="LoginEstudante">Estudante</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Login" asp-action="LoginEmpresa">Empresa</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastre-se</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Cadastro" asp-action="CadastroEstudante">Estudante</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Cadastro" asp-action="CadastroEmpresa">Empresa</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @await RenderSectionAsync("Styles", required: false)
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331; padding: 10px 0; margin-top: auto;">
        <section class="d-flex justify-content-between p-2" style="background-color: #6351ce;">
            <div>
                <a href="" class="text-white me-2"><i class="fab fa-google"></i></a>
                <a href="" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                <a href="" class="text-white me-2"><i class="fab fa-linkedin"></i></a>
            </div>
        </section>
        <section>
            <div class="container text-center text-md-start mt-3">
                <div class="row mt-1">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                        <h6 class="text-uppercase fw-bold">RedeWork</h6>
                        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>RedeWork é uma plataforma que conecta estudantes a empresas, oferecendo oportunidades de estágios e networking para facilitar a inserção no mercado de trabalho.</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                        <h6 class="text-uppercase fw-bold">Serviços</h6>
                        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><a href="#!" class="text-white">Vagas</a></p>
                        <p><a href="#!" class="text-white">Encontrar Estudantes</a></p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
                        <h6 id="contato" class="text-uppercase fw-bold">Contatos</h6>
                        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> São Paulo, Avenida Paulinas 123, BR</p>
                        <p><i class="fas fa-envelope mr-3"></i> contato@redework.com.br</p>
                        <p><i class="fas fa-phone mr-3"></i> +55 11 96583-3921</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 | REDEWORK - Todos os direitos reservados
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
