@model ForgotPasswordViewModel

@{
    ViewBag.tile = "Esqueceu sua senha?";
}       

<h2>Esqueceu sua senha?</h2>
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="Email">E-mail</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>