@model SistemaRedeWork.Models.ResetPasswordViewModel

@if (TempData["MensagemErro"] != null) {
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label"Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" />

    <div>
        <label>Nova Senha</label>
        <input type="password" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div>
        <label>Confirme a Senha</label>
        <input type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Redefinir Senha</button>
</form>
