<h1>Vamooooooooooooooooooo caralho</h1>



<script>
    $(document).ready(function () {
   settimeout(function () {
       $(".alert").fadeout("slow", function () {
           $(this).alert('close');
       });
   }, 5000);
});
</script>