@{
    ViewData["Title"] = "Contato";
}
<link rel="stylesheet" href="~/css/contato.css" asp-append-version="true" />


<div class="container my-5">
    <div class="row">
        <div class="col-md-6 contact-info">
            <h2>Ligue para nós</h2>
            <p>
                <strong>Telefone:</strong> +55 11 96935-4021
            </p>
            <h2>Localização</h2>
            <p>
                Avenida Paulista, 12 | SP
            </p>

        </div>
        <div class="col-md-6 contact-form">
            <h2>Contate-nos</h2>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Digite seu nome">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite um email válido">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensagem</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Digite sua mensagem"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

