@{
    ViewData["Title"] = "Sobre Nós";
}
<link rel="stylesheet" href="~/css/sobrenos.css" asp-append-version="true" />

<!-- Seção sobre o que fazemos -->
<div class="section-what-we-do">
    <h2>O que fazemos?</h2>
    <p>Somos a maior plataforma de trabalho freelance e remoto da América Latina, marcando tendência em nível global com uma forte presença no Sudeste Asiático. Desde 2012 revolucionamos o mundo do trabalho com nossa proposta.</p>
    <p>Mais de 600 mil empreendedores, empresas, micro e pequenas empresas encontram na nossa plataforma o talento para levar adiante seus projetos profissionais. Ajudamos também 3 milhões de freelancers a desenvolverem suas carreiras profissionais de forma independente.</p>
</div>

<!-- Seção de valores em formato de cards -->
<div class="section-values">
    <h2>Nossos Fundamentos</h2>
    <div class="values-container">
        <div class="value-card">
            <h3>Humildade</h3>
            <p>Somos parte de um todo. Compartilhamos informações, reconhecemos nossos erros e nos esforçamos para trazer o melhor de nós.</p>
        </div>
        <div class="value-card">
            <h3>Autonomia</h3>
            <p>Decidimos proativamente onde empregar nosso talento e nos tornamos capitães das tarefas que priorizamos.</p>
        </div>
        <div class="value-card">
            <h3>Paixão</h3>
            <p>Amamos o que fazemos e sempre buscamos fazer mais e melhor.</p>
        </div>
        <div class="value-card">
            <h3>Flexibilidade</h3>
            <p>Reconhecemos os desafios e os transformamos em oportunidades.</p>
        </div>
        <div class="value-card">
            <h3>Criatividade</h3>
            <p>Buscamos alternativas criativas para otimizar resultados. A aprendizagem é contínua.</p>
        </div>
        <div class="value-card">
            <h3>Honestidade</h3>
            <p>Valorizamos a comunicação direta e o feedback. Defendemos nossas ideias e ouvimos as dos outros.</p>
        </div>
        <div class="image-container">
            <img src="~/content/img/cultura.png" alt="Pessoas e cultura" class="main-image">
        </div>
        <!-- Seção principal -->
        <div class="main-section">
            <h1>A evolução do trabalho começa pelas pessoas e sua cultura</h1>
            <p>Todos os dias, trabalhamos para transformar a forma como pensamos o trabalho, tornando-o alinhado ao estilo de vida que desejamos construir.</p>

        </div>
    </div>
</div>



