﻿@{
    ViewData["Title"] = "Cadastro - Empresa";
}
<link rel="stylesheet" href="~/css/CadastroEmpresa.css" asp-append-version="true" />

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar empresa - RedeWork</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="informacoes text-center mb-4">
                    <h2>DADOS DA EMPRESA</h2>
                    <p>Segurança e Confidencialidade</p>
                    <p>A RedeWork garante a segurança e a confidencialidade de todas as informações corporativas fornecidas no cadastro.</p>
                </div>

                <main>
                    <form>

                        <div class="form-group">
                            <label for="email" style="color:black">EMAIL*</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>

                        <div class="form-group">
                            <label for="senha" style="color:black">SENHA*</label>
                            <input type="password" class="form-control" id="senha" required>
                        </div>

                        <div class="form-group">
                            <label for="confirma-senha" style="color:black">CONFIRME A SENHA*</label>
                            <input type="password" class="form-control" id="confirma-senha" required>
                        </div>

                        <div class="alert alert-info">
                            <strong>Dicas de segurança:</strong>
                            <ul>
                                <li>Sua senha deve conter pelo menos 8 caracteres, incluindo letras e números.</li>
                                <li>Sua senha deve ter pelo menos 1 caractere especial (Ex: !$#%^&*).</li>
                            </ul>
                        </div>

                        <!-- Mensagem de erro -->
                        <div id="senha-erro" class="alert alert-danger" style="display:none;"></div>

                        <div class="form-group">
                            <label for="usuario" style="color:black">USUÁRIO*</label>
                            <input type="text" class="form-control" id="usuario" required>
                        </div>

                        <div class="form-group">
                            <label for="razao-social" style="color:black">RAZÃO SOCIAL*</label>
                            <input type="text" class="form-control" id="razao-social" required>
                        </div>

                        <div class="form-group">
                            <label for="cnpj" style="color:black">CNPJ*</label>
                            <input type="text" class="form-control" id="cnpj" required>
                        </div>

                        <div class="form-group">
                            <label for="telefone" style="color:black">TELEFONE*</label>
                            <input type="text" class="form-control" id="telefone" required>
                        </div>

                        <div class="form-group">
                            <label for="site" style="color:black">SITE</label>
                            <input type="url" class="form-control" id="site">
                        </div>

                        <div class="form-group">
                            <label for="linkedin" style="color:black">LINKEDIN</label>
                            <input type="url" class="form-control" id="linkedin">
                        </div>

                        

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="estado" style="color:black">ESTADO*</label>
                                <select id="estado" class="form-control" required>
                                    <option value="">Selecione</option>
                                    <option value="ac">Acre</option>
                                    <option value="al">Alagoas</option>
                                    <option value="ap">Amapá</option>
                                    <option value="am">Amazonas</option>
                                    <option value="ba">Bahia</option>
                                    <option value="ce">Ceará</option>
                                    <option value="df">Distrito Federal</option>
                                    <option value="es">Espírito Santo</option>
                                    <option value="go">Goiás</option>
                                    <option value="ma">Maranhão</option>
                                    <option value="mt">Mato Grosso</option>
                                    <option value="ms">Mato Grosso do Sul</option>
                                    <option value="mg">Minas Gerais</option>
                                    <option value="pa">Pará</option>
                                    <option value="pb">Paraíba</option>
                                    <option value="pr">Paraná</option>
                                    <option value="pe">Pernambuco</option>
                                    <option value="pi">Piauí</option>
                                    <option value="rj">Rio de Janeiro</option>
                                    <option value="rn">Rio Grande do Norte</option>
                                    <option value="rs">Rio Grande do Sul</option>
                                    <option value="ro">Rondônia</option>
                                    <option value="rr">Roraima</option>
                                    <option value="sc">Santa Catarina</option>
                                    <option value="sp">São Paulo</option>
                                    <option value="se">Sergipe</option>
                                    <option value="to">Tocantins</option>

                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="cidade" style="color:black">CIDADE*</label>
                                <select id="cidade" class="form-control" required>
                                    <option value="">Selecione</option>
                                    <!-- Cidades de São Paulo -->
                                    <option value="sao-paulo">São Paulo</option>
                                    <option value="campinas">Campinas</option>
                                    <option value="santos">Santos</option>
                                    <option value="ribeirao-preto">Ribeirão Preto</option>
                                    <option value="sao-jose-dos-campos">São José dos Campos</option>
                                    <option value="sorocaba">Sorocaba</option>
                                    <option value="jundiai">Jundiaí</option>
                                    <option value="piracicaba">Piracicaba</option>

                                    <!-- Cidades do Rio de Janeiro -->
                                    <option value="rio-de-janeiro">Rio de Janeiro</option>
                                    <option value="niteroi">Niterói</option>
                                    <option value="petropolis">Petrópolis</option>
                                    <option value="volta-redonda">Volta Redonda</option>
                                    <option value="nova-iguacu">Nova Iguaçu</option>
                                    <option value="duque-de-caxias">Duque de Caxias</option>
                                    <option value="campos-dos-goytacazes">Campos dos Goytacazes</option>

                                    <!-- Cidades de Minas Gerais -->
                                    <option value="belo-horizonte">Belo Horizonte</option>
                                    <option value="uberlandia">Uberlândia</option>
                                    <option value="juiz-de-fora">Juiz de Fora</option>
                                    <option value="contagem">Contagem</option>
                                    <option value="betim">Betim</option>
                                    <option value="montes-claros">Montes Claros</option>

                                    <!-- Cidades da Bahia -->
                                    <option value="salvador">Salvador</option>
                                    <option value="feira-de-santana">Feira de Santana</option>
                                    <option value="vitoria-da-conquista">Vitória da Conquista</option>
                                    <option value="camaçari">Camaçari</option>
                                    <option value="juazeiro">Juazeiro</option>
                                    <option value="itabuna">Itabuna</option>

                                    <!-- Cidades do Paraná -->
                                    <option value="curitiba">Curitiba</option>
                                    <option value="londrina">Londrina</option>
                                    <option value="maringa">Maringá</option>
                                    <option value="foz-do-iguacu">Foz do Iguaçu</option>
                                    <option value="ponta-grossa">Ponta Grossa</option>
                                    <option value="cascavel">Cascavel</option>

                                    <!-- Cidades do Rio Grande do Sul -->
                                    <option value="porto-alegre">Porto Alegre</option>
                                    <option value="caxias-do-sul">Caxias do Sul</option>
                                    <option value="pelotas">Pelotas</option>
                                    <option value="santa-maria">Santa Maria</option>
                                    <option value="novo-hamburgo">Novo Hamburgo</option>
                                    <option value="passo-fundo">Passo Fundo</option>

                                    <!-- Cidades de Pernambuco -->
                                    <option value="recife">Recife</option>
                                    <option value="olinda">Olinda</option>
                                    <option value="caruaru">Caruaru</option>
                                    <option value="petrolina">Petrolina</option>
                                    <option value="jaboatao-dos-guararapes">Jaboatão dos Guararapes</option>
                                    <option value="paulista">Paulista</option>

                                    <!-- Cidades do Ceará -->
                                    <option value="fortaleza">Fortaleza</option>
                                    <option value="juazeiro-do-norte">Juazeiro do Norte</option>
                                    <option value="sobral">Sobral</option>
                                    <option value="maracanau">Maracanaú</option>
                                    <option value="caucaia">Caucaia</option>
                                    <option value="iguatu">Iguatu</option>

                                    <!-- Cidades do Distrito Federal -->
                                    <option value="brasilia">Brasília</option>
                                    <option value="taguatinga">Taguatinga</option>
                                    <option value="gama">Gama</option>
                                    <option value="ceilandia">Ceilândia</option>
                                    <option value="aguas-claras">Águas Claras</option>
                                    <option value="samambaia">Samambaia</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cep" style="color:black">CEP*</label>
                            <input type="text" class="form-control" id="cep" required>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="rua" style="color:black">RUA*</label>
                                <input type="text" class="form-control" id="rua" required>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="numero" style="color:black">NÚMERO*</label>
                                <input type="text" class="form-control" id="numero" required>
                            </div>
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="aceito" required>
                            <label class="form-check-label" for="aceito">Eu aceito as Condições Legais e a Política de Privacidade.</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block"  asp-action="" asp-controller="" asp-action="">CADASTRAR-SE</button>

                        <p class="registro text-center mt-3">Você é um estudante? <a asp-action="" asp-controller="" asp-action="">Cadastre-se aqui.</a></p>
                    </form>
                </main>
            </div>
        </div>
    </div>


</body>

</html>
<script>
    document.getElementById('cep').addEventListener('blur', function () {
        var cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos

        if (cep.length === 8) {
            var url = `https://viacep.com.br/ws/${cep}/json/`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (!("erro" in data)) {
                        // Preencher o campo "rua" com o valor retornado
                        document.getElementById('rua').value = data.logradouro;
                    } else {
                        alert('CEP não encontrado.');
                    }
                })
                .catch(error => console.log('Erro ao buscar o CEP: ', error));
        } else {
            alert('Por favor, insira um CEP válido.');
        }
    });

</script>
