/* Estilo para a navbar */
.navbar {
    font-family: 'IBM Plex Sans', sans-serif;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img.logo {
    height: 37px;
    max-width: 100%;
}

.navbar-nav.mx-auto {
    position: relative;
    left: 11%;
    transform: translateX(-50%);
}
    
    .navbar-nav.mx-auto.adjusted {
        left: calc(50% + 10px); 
        left: calc(50% - 10px); 
    }

@media (max-width: 767px) {
    .navbar-nav.mx-auto {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    .navbar-nav.ms-auto {
        flex-direction: row;
        justify-content: flex-end;
    }
}
