/* Estilo para a navbar */
.navbar {
    font-family: 'IBM Plex Sans', sans-serif;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar-brand img.logo {
        height: 40px;
        max-width: 100%;
    }

    /* Cor do link e efeito ao passar o mouse */
    .nav-link {
        color: #333;
        font-weight: 500;
        transition: color 0.2s ease;
    }

        .nav-link:hover {
            color: #00BFFF; /* Cor azul clara ao passar o mouse */
            text-decoration: underline; /* Adiciona sublinhado */
        }

    /* Dropdown estilo minimalista */
    .dropdown-menu {
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .dropdown-item {
        transition: background-color 0.2s ease;
    }

        .dropdown-item:hover {
            background-color: #f8f9fa; /* Efeito de destaque ao passar o mouse */
        }

    /* Estilo para o botão de menu em dispositivos menores */
    .navbar-toggler {
        border: none;
        outline: none;
    }

.navbar-toggler-icon {
    filter:
}

footer {
    background-color: #4b0082; /* Cor do rodapé */
    width: 100%; /* Largura total */
    position: relative;
    bottom: 0;
    left: 0;
}
