* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7e159e;
}

/*nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
}*/
/*
    nav .ferr {
        margin-right: 20px;
    }*/

.teste {
    background-color: #7e159e;
}

main {
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
}

    main .Sobre {
        background-color: #FFF3FE;
        margin: 20px;
        height: 166px;
        width: 1294px;
        border-radius: 15px;
        box-shadow: 2px 3px 4px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

.verMais {
    background-color: #7e159e;
    border-radius: 10px;
    height: 23px;
    border-color: #7e159e;
    color: rgb(240, 248, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7e159e;
}

/*nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
}*/

nav .ferr {
    margin-right: 20px;
}

.teste {
    background-color: #7e159e;
}

main {
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
}

    main .Sobre {
        background-color: #FFF3FE;
        margin: 20px;
        height: 166px;
        width: 1294px;
        border-radius: 15px;
        box-shadow: 2px 3px 4px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

.verMais {
    background-color: #7e159e;
    border-radius: 10px;
    height: 23px;
    border-color: #7e159e;
    color: rgb(240, 248, 255);
}
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #5D2CE7 !important; /* Força a cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0; /* Reduz o padding superior e inferior */
    text-align: center; /* Centraliza o texto no rodapé */
    font-size: 14px; /* Reduz o tamanho da fonte */
}